{
  "root": true,
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended"
  ],
  "ignorePatterns": ["jest.config.ts"],
  "plugins": ["@typescript-eslint", "jest"],
  "rules": {
    "jest/expect-expect": "off"
  }
}
